<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<p th:if="${#lists.isEmpty(comments)}" class="font-weight-bold text-center text-secondary m-1">No comments</p>
<div class="comment mt-1 p-2 border" th:each="comment : ${comments}" th:id="${'comment-' + comment.id}">
    <div class="clearfix">
        <a th:href="${'/user/profile/' + comment.user.id}"><img class="rounded-circle float-left" th:src="${'/user/profpic/' + comment.user.id}" width="64px" height="64px" /></a>
        <div class="float-left ml-1">
            <span class="h5" th:text="${comment.user.firstName + ' ' + comment.user.lastName}"></span>
            <small class="text-secondary d-block" th:text="${#dates.format(comment.timestamp, 'dd.MM.yyyy')}"></small>
        </div>
        <div sec:authorize="hasRole('ROLE_CONFIRMED')">
            <div th:if="${currUser.id == comment.user.id}">
                <button th:data-id="${comment.id}" class="btn btn-outline-danger btn-sm float-right btn-comment-delete">Delete</button>
            </div>
            <div th:unless="$.currUser.id == comment.user.id}" th:if="${currUser.id == comment.post.user.id}">
                <button th:data-id="${comment.id}" class="btn btn-outline-danger btn-sm float-right btn-comment-delete">Delete</button>
            </div>
        </div>
        <button sec:authorize="hasRole('ROLE_ADMIN')" th:data-id="${comment.id}" class="btn btn-outline-danger btn-sm float-right btn-comment-delete">Delete</button>
    </div>
    <p class="comment-text p-1" th:utext="${#strings.replace( #strings.escapeXml( comment.message ),T(java.lang.System).getProperty('line.separator'),'$NEWLINE')}"></p>
</div>
</body>
</html>
